In [ ]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Collecting scikit-learn
  Downloading scikit_learn-1.4.1.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 48.9 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0,>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.3.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
Successfully installed scikit-learn-1.4.1.post1

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/iris.data.csv")
data

In [ ]:
# import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
# importing data
df = pd.read_csv('/content/DigitalAd_dataset.csv')
print(df.shape)

(400, 3)

In [ ]:
X= df['Salary']
y= df['Status']

In [ ]:
# using the train test split function
X_train, X_test, y_train, y_test = train_test_split(
X,y , random_state=401,test_size=0.50, shuffle=True)

In [ ]:
# import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# importing data
df = pd.read_csv('/content/DigitalAd_dataset.csv')
print(df.shape)

# head of the data
print('Head of the dataframe : ')
print(df.head())

print(df.columns)

X= df['Salary']
y= df['Status']

# using the train test split function
X_train, X_test, y_train, y_test = train_test_split(
X,y , random_state=401,test_size=0.50, shuffle=True)

# printing out train and test sets

print('X_train : ')
print(X_train.head())
print(X_train.shape)

print('')
print('X_test : ')
print(X_test.head())
print(X_test.shape)

print('')
print('y_train : ')
print(y_train.head())
print(y_train.shape)

print('')
print('y_test : ')
print(y_test.head())
print(y_test.shape)

(400, 3)
Head of the dataframe :
   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1
Index(['Age', 'Salary', 'Status'], dtype='object')
X_train :
141    15000
348    50000
96     71000
179    70000
198    42000
Name: Salary, dtype: int64
(200,)

X_test :
146    100000
297     96000
225    143000
32      79000
262     71000
Name: Salary, dtype: int64
(200,)

y_train :
141    0
348    1
96     0
179    0
198    0
Name: Status, dtype: int64
(200,)

y_test :
146    1
297    1
225    1
32     0
262    0
Name: Status, dtype: int64
(200,)

In [ ]:
# import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

df = pd.read_csv('/content/DigitalAd_dataset.csv')
# dropping rows which have null values
df.dropna(inplace=True,axis=0)

y = df['Salary']
X = df.drop('Status',axis=1)

# splitting the dataframe into train and test sets
X_train,X_test,y_train,y_test = train_test_split(
X,y,test_size=0.50,random_state=401)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model = LinearRegression().fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(mean_squared_error(y_test,y_pred))

[100000.  96000. 143000.  79000.  71000.  39000.  72000. 131000.  59000.
 142000. 137000.  23000.  87000.  84000.  87000. 119000.  63000.  43000.
  79000.  71000.  21000.  88000. 108000. 113000.  26000. 134000.  90000.
  52000.  25000. 107000. 144000.  80000.  75000.  33000. 143000. 117000.
  83000.  96000.  79000.  63000.  74000.  86000. 108000.  35000.  32000.
 108000. 130000.  57000.  26000. 116000.  16000. 106000. 126000.  22000.
 144000.  55000.  93000. 146000.  80000.  79000.  76000.  75000.  64000.
  88000.  19000.  45000.  57000.  47000.  32000.  31000.  57000.  23000.
  80000.  70000.  39000.  89000.  15000.  45000. 117000.  89000.  75000.
  55000.  88000.  23000.  72000.  65000.  55000.  75000.  95000.  34000.
  82000. 112000.  63000.  58000.  28000.  31000.  30000.  59000.  54000.
 112000. 133000.  69000.  84000.  15000. 129000. 149000.  16000.  54000.
  80000.  61000.  44000.  52000.  82000.  80000.  34000.  74000.  18000.
  61000. 120000.  17000. 104000.  33000.  88000. 133000. 149000.  43000.
 118000.  73000.  57000.  23000.  41000.  28000.  68000.  80000.  55000.
  65000.  54000.  33000.  80000. 141000.  74000.  18000. 123000.  18000.
  75000.  70000.  77000.  55000.  97000.  54000.  51000. 104000.  79000.
  72000. 148000.  19000.  72000.  71000.  28000.  32000.  83000.  22000.
  74000.  61000.  96000.  82000.  42000.  75000.  86000.  61000.  66000.
  32000.  82000.  74000. 134000.  60000.  72000.  60000.  20000.  75000.
  30000.  57000. 125000.  33000.  30000.  43000.  20000.  51000. 138000.
  71000.  87000.  82000.  83000.  74000.  99000.  61000.  96000.  44000.
  68000.  44000.]
5.532183936754649e-23